In [3]:
import pandas as pd

In [7]:
richest = pd.read_csv("TopRichestInWorld.csv", 
                      usecols= ['Name', 'NetWorth'],
                      index_col='Name').squeeze()
richest

Name
Elon Musk                   $219,000,000,000
Jeff Bezos                  $171,000,000,000
Bernard Arnault & family    $158,000,000,000
Bill Gates                  $129,000,000,000
Warren Buffett              $118,000,000,000
                                  ...
Vladimir Potanin             $17,300,000,000
Harold Hamm & family         $17,200,000,000
Sun Piaoyang                 $17,100,000,000
Luo Liguo & family           $17,000,000,000
Peter Woo                    $17,000,000,000
Name: NetWorth, Length: 101, dtype: object

In [9]:
richest.head(10)

Name
Elon Musk                   $219,000,000,000
Jeff Bezos                  $171,000,000,000
Bernard Arnault & family    $158,000,000,000
Bill Gates                  $129,000,000,000
Warren Buffett              $118,000,000,000
Larry Page                  $111,000,000,000
Sergey Brin                 $107,000,000,000
Larry Ellison               $106,000,000,000
Steve Ballmer                $91,400,000,000
Mukesh Ambani                $90,700,000,000
Name: NetWorth, dtype: object

In [10]:
richest['Bill Gates']

'$129,000,000,000'

In [12]:
richest[['Bill Gates', 'Warren Buffett']]

Name
Bill Gates        $129,000,000,000
Warren Buffett    $118,000,000,000
Name: NetWorth, dtype: object

In [14]:
richest[0:2]

Name
Elon Musk     $219,000,000,000
Jeff Bezos    $171,000,000,000
Name: NetWorth, dtype: object

In [15]:
richest.index

Index(['Elon Musk', 'Jeff Bezos', 'Bernard Arnault & family', 'Bill Gates',
       'Warren Buffett', 'Larry Page', 'Sergey Brin', 'Larry Ellison',
       'Steve Ballmer', 'Mukesh Ambani',
       ...
       'Savitri Jindal & family', 'Wang Wenyin', 'Li Xiting', 'Stefan Persson',
       'Steve Cohen', 'Vladimir Potanin', 'Harold Hamm & family',
       'Sun Piaoyang', 'Luo Liguo & family', 'Peter Woo'],
      dtype='object', name='Name', length=101)