In [1]:
print("Hello Word")
print("Hi World")

Hello Word
Hi World

### This is the title
- point1
- point2

In [2]:
# This is varaible
x =20
x

20

In [8]:
mydict = {
    "name" : ["Jayu", "Sonam", "Dhengle"],
    "marks" : [89, 56, 76]
}

In [9]:
mydict

{'name': ['Jayu', 'Sonam', 'Dhengle'], 'marks': [89, 56, 76]}

In [10]:
import pandas as pd

In [12]:
df = pd.DataFrame(mydict)

In [13]:
df

      name  marks
0     Jayu     89
1    Sonam     56
2  Dhengle     76

In [20]:
df.index = [1,2,3]

In [21]:
df

      name  marks
1     Jayu     89
2    Sonam     56
3  Dhengle     76

In [33]:
df.loc[1]['marks']

np.int64(89)

In [37]:
df['name'][1]

'Jayu'

In [38]:
df['age'] = [23,25, 43]

In [39]:
df

      name  marks  age
1     Jayu     89   23
2    Sonam     56   25
3  Dhengle     76   43

In [45]:
df['marks'][1] = 91

C:\Users\jayud\AppData\Local\Temp\ipykernel_15528\1703471769.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['marks'][1] = 91

In [52]:
df.dtypes

name     object
marks     int64
age       int64
dtype: object

In [55]:
df['marks'][1] = 91

In [56]:
df.dtypes

name     object
marks    object
age       int64
dtype: object

In [61]:
df.shape

(3, 3)