In [2]:
import pandas as pd

In [3]:
numbers = [1,3,4,5,6]

In [5]:
pd.Series(numbers)

0    1
1    3
2    4
3    5
4    6
dtype: int64

In [6]:
letters = ['a', 'b', 'c', 'd', 'e']

In [7]:
pd.Series(letters)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [8]:
pd.Series(data = numbers, index = letters)

a    1
b    3
c    4
d    5
e    6
dtype: int64

In [10]:
pd.Series(data = letters, index = ['letter1','letter2','letter3','letter4','letter5'])

letter1    a
letter2    b
letter3    c
letter4    d
letter5    e
dtype: object

In [13]:
data = { 'Name' : 'Jayu', 'Salary' : 35000, 'Age': 34}

In [14]:
pd.Series(data)

Name       Jayu
Salary    35000
Age          34
dtype: object

In [18]:
pd.Series(data = data, index = ['Name','Salary', 'DOB' ])

Name       Jayu
Salary    35000
DOB         NaN
dtype: object

In [19]:
pd.Series(data = data, index = ['Name','Salary', 'Age' ])

Name       Jayu
Salary    35000
Age          34
dtype: object